.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-container {
    max-width: 960px;
}

.App-intro {
    margin: 10px 0;
    padding: 10px;
    color: #E5E7EB;
    font-size: 1rem;
}

.App-intro a {
    color: #F59E0B;
}

.App-items {
    display: flex;
}

.App-item {
    margin: 5px;
}
